/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 2rem 0;
  margin: 2rem;
  text-align: center;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.mascot {
  height: 100%;
  max-height: 8rem;
}

.flexbox {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  column-gap: 6rem;
  row-gap: 1rem;
  width: 100%;
}
